---
import { Image } from "astro:assets";
import logo from "../assets/icons/logo-solux.svg";
---

<nav
  class="fixed top-0 left-1/2 -translate-x-1/2 w-full z-50 border-b border-white/10 bg-surface/30 backdrop-blur-xl flex justify-between items-center px-container-padding py-4"
>
  <a
    href="#"
    class="text-headline-lg font-headline-lg font-bold tracking-tighter text-on-surface flex-1 logo-text transition-all duration-300"
  >
    <Image src={logo} alt="Logo" width={250} height={100} />
  </a>
  <div class="hidden md:flex gap-8 items-center flex-1 justify-center">
    <a
      href="#services"
      class="nav-link font-label-mono text-label-mono uppercase tracking-widest text-on-surface-variant hover:text-on-surface transition-all duration-300"
      >Servicios</a
    >
    <a
      href="#projects"
      class="nav-link font-label-mono text-label-mono uppercase tracking-widest text-on-surface-variant hover:text-on-surface transition-all duration-300"
      >Proyectos</a
    >
    <a
      href="#process"
      class="nav-link font-label-mono text-label-mono uppercase tracking-widest text-on-surface-variant hover:text-on-surface transition-all duration-300"
      >Proceso</a
    >
    <a
      href="#faq"
      class="nav-link font-label-mono text-label-mono uppercase tracking-widest text-on-surface-variant hover:text-on-surface transition-all duration-300"
      >Preguntas Frecuentes</a
    >
    <a
      href="#contact"
      class="nav-link font-label-mono text-label-mono uppercase tracking-widest text-on-surface-variant hover:text-on-surface transition-all duration-300"
      >Contacto</a
    >
  </div>
  <div class="hidden md:flex flex-1 justify-end">
    <button
      class="nav-btn bg-primary text-on-primary font-label-mono text-label-mono uppercase tracking-widest px-8 py-3 transition-all duration-300 hover:bg-white hover:text-black"
      >Solicitar Auditoría</button
    >
  </div>
  <button class="md:hidden text-on-surface">
    <span class="material-symbols-outlined">menu</span>
  </button>
</nav>
