---
<section class="px-container-padding mb-section-gap" id="projects">
  <div class="flex justify-between items-end mb-12">
    <h2 class="font-headline-xl text-headline-xl text-white uppercase tracking-tighter">Despliegues Destacados</h2>
    <a href="#" class="font-label-mono text-label-mono text-primary uppercase border-b border-primary">Ver Casos de Éxito</a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="group cursor-pointer">
      <div class="aspect-[16/9] mb-6 relative clip-angular-border p-[1px] clip-angular">
        <div class="bg-surface-container-high h-full w-full relative overflow-hidden clip-inner">
          <div
            class="absolute inset-0 bg-cover bg-center"
            style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDiHvZk0O9_hv4Y8jxh9WEjqxQwFLZldZsy53TyhvNdBSCfnz1jdOKfP2Er93YBPhhzIFNBaeTV83CEb7xbDpk0p62sC5-IWZgnPTWMT4YDYUsTKl7-rlZRrO--FhAZuxS_lpUaFwYmKxyBgN5BTsQ5ImveHVpKRUIHeNt9KX6bUSYGWYsm8KfW6sa3vF_NItTphLhZdGDhQl3HEnKm_qWzBvmV6VpajfQ2WILzxcBszqAVt8xhbEn9eCM4a6PKQcabyCC3zrtBg0A')"
          ></div>
          <div class="absolute inset-0 bg-gradient-to-t from-black via-black/80 to-transparent"></div>
          <div class="absolute bottom-10 left-8 pr-8 z-10">
            <h4 class="text-white text-headline-lg mb-1">Planta Logística Norte</h4>
            <span class="font-label-mono text-[10px] text-primary uppercase">1.2 MWp Capacidad Instalada</span>
          </div>
        </div>
      </div>
    </div>
    <div class="group cursor-pointer">
      <div class="aspect-[16/9] mb-6 relative clip-angular-border p-[1px] clip-angular">
        <div class="bg-surface-container-high h-full w-full relative overflow-hidden clip-inner">
          <div
            class="absolute inset-0 bg-cover bg-center"
            style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDadcAdBDqw0_Syz6SVs_jjmdCzhoniIsSRcXhV91pveHnAGvqpFzfo1q_uM9atwH8WqL3PXydxNzYeUiRd_9ZR22Zo-4uHHzgeSoaG-Y1HMl2cqZbzq6LIPlCTzjswgLNm2rZa0Rjz5uCT3wKT8k9GSoBmd6LXfgUb6TrqtnhCmcJsU4LVLBcJwGEwzs0KRcPhs_Xvkfne-AkQ7nSKUmwsP77p3IgqH_Jcs2GeuM3dVqS-g6qrJu4J1qdh0DjrYK-k5rrLR_JULVE')"
          ></div>
          <div class="absolute inset-0 bg-gradient-to-t from-black via-black/80 to-transparent"></div>
          <div class="absolute bottom-10 left-8 pr-8 z-10">
            <h4 class="text-white text-headline-lg mb-1">Fábrica de Alimentos NutriCorp</h4>
            <span class="font-label-mono text-[10px] text-secondary uppercase">850 kWp + 2MWh Almacenamiento BESS</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
